@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/ubuntu.woff') format('woff');
  }
html{
  height: 100%;
  margin: 0px;
  padding: 0px;
  }
body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #666;
  background-color: #F1F2F7;
  font-size: 14px;
  font-family: Ubuntu;
  -webkit-transition: 0.15s -webkit-filter linear;
  -moz-transition: 0.15s -moz-filter linear;
  -moz-transition: 0.15s filter linear;
  -ms-transition: 0.15s -ms-filter linear;
  -o-transition: 0.15s -o-filter linear;
  transition: 0.15s filter linear;
  z-index: -1;
  }
body.noscroll{
  overflow: hidden;
  }
a:link {
  color: #7F7F7F;
  font-weight: bold;
  outline: 0;
  }
a:visited {
  color: #7F7F7F;
  }
a:hover {
  color: #7F7F7F;
  opacity: 0.5;
  }
#header{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: #667D95;
  -webkit-transition: 0.15s -webkit-filter linear;
  -moz-transition: 0.15s -moz-filter linear;
  -moz-transition: 0.15s filter linear;
  -ms-transition: 0.15s -ms-filter linear;
  -o-transition: 0.15s -o-filter linear;
  transition: 0.15s filter linear;
  box-shadow: -2px 3px 3px -2px rgba(0,0,0,0.25), 4px 3px 3px -4px rgba(0,0,0,0.25);
  z-index: 100;
  }
#projectselect {
  position: fixed !important;
  left: 4px;
  top: 4px;
  width: 136px;
  max-height: 32px;
  background-color: #999;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  color: #FFF;
  border-radius: 3px;
  cursor: pointer;
  transition: max-height 0.25s,width 0.25s,background-color 0.5s,opacity 0.5s;
  opacity: .7;
  overflow: hidden;
  z-index: 1;
  }
#projectselect:hover {
  width: 216px;
  max-height: 800px;
  padding: 0;
  background-color: #064D94;
  box-shadow: -2px 4px 4px -2px rgba(0,0,0,0.25), 4px 4px 4px -4px rgba(0,0,0,0.25);
  opacity: 1;
  }
#projectlist {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s;
  overflow-y: auto;
  }
#projectlist form {
  margin: 10px auto;
  }
#projectselect:hover #projectlist {
  max-height: 270px;
  }
.project {
  width: 190px;
  margin: 8px;
  padding: 0px;
  background-color: #999;
  transition: all 0.5s ease-out;
  border: 1px solid #999;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  }
.project:hover {
  background-color: #064D94;
  border: 1px solid #999;
  }
.project input[type='submit'], .project input[type='button'] {
  width: 100%;
  margin: 0px;
  }
#ticketsearch {
  position: fixed;
  left: 144px;
  top: 4px;
  width: 120px;
  height: 32px;
  margin: 0px;
  padding: 0px 8px;
  background-color: rgba(153, 153, 153, 0.7);
  background-image: url('../images/search-grey.png');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 94% center;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
  color: #FFF;
  border: 0px;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.25s ease-out;
  overflow: hidden;
  z-index: 0;
  }
#ticketsearch:focus {
  background-color: #064D94;
  opacity: 1;
  }
#logo{
  width: 157px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  background-image: url(../images/logo-full.png);
  cursor: pointer;
  transition: opacity 0.15s ease-out;
  opacity: .7;
  }
#logo a {
  display: block;
  width: 157px;
  height: 32px;
  outline: none;
  }
#logo:hover {
  opacity: 1;
  }
#menu{
  position: fixed;
  top: 0px;
  right: 0px;
  height: 40px;
  }
div.menulink{
  position: relative;
  display: inline-block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  }
div.menulink:hover {
  background-color: #064D94;
  box-shadow: -2px 2px 4px -2px rgba(0,0,0,0.25), 4px 2px 4px -4px rgba(0,0,0,0.25);
  transition: background-color 0.25s ease-out;
  }
div.menulink a{
  display: inline-block;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  line-height: 40px;
  outline: 0;
  opacity: .7;
  transition: opacity 0.15s ease-out;
  }
div.menulink a:hover {
  opacity: 1;
  }
div.menulink img {
  vertical-align: middle;
  }
div.menulink:hover .submenu {
  max-height: 300px;
  padding-top: 5px;
  padding-bottom: 10px;
  }
div.submenu{
  position: absolute;
  right: 0px;
  top: 40px;
  width: 140px;
  max-height: 0px;
  background-color: #064D94;
  border-radius: 0 0 3px 3px / 0 0 3px 3px;
  box-shadow: -2px 4px 4px -2px rgba(0,0,0,0.25), 4px 4px 4px -4px rgba(0,0,0,0.25);
  overflow: hidden;
  transition: max-height 0.15s ease-out, padding .25s;
  }
.menulink:hover:after {
  box-shadow: 0px 6px 6px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 6px 6px 4px rgba(0,0,0,0.6);
  }
div.submenulink{
  height: 32px;
  text-align: right;
  }
div.submenulink a {
  display: block;
  height: 32px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 0px;
  line-height: 32px;
  }
div.submenulink a img {
  margin-left: 22px;
  }
#content {
  padding: 60px;
  padding-top: 100px;
  -webkit-transition: 0.15s -webkit-filter linear;
  -moz-transition: 0.15s -moz-filter linear;
  -moz-transition: 0.15s filter linear;
  -ms-transition: 0.15s -ms-filter linear;
  -o-transition: 0.15s -o-filter linear;
  transition: 0.15s filter linear;
  z-index: -1;
  }
#install {
  box-shadow: -2px 3px 3px -2px rgba(0,0,0,0.25), 4px 3px 3px -4px rgba(0,0,0,0.25);
  }
#install h2 {
  margin-left: 20px;
  }
#install input[type='submit'] {
  width: 100%;
  }
table {
  margin: 0px auto;
  border-spacing: 0px;
  border-radius: 3px;
  border: none;
  }
tr:last-child td{
  border: none;
  }
th {
  padding: 4px;
  color: #666;
  border-bottom: 2px solid #BDC4C9;
  font-size: 14px;
  transition: opacity 0.25s;
  white-space: nowrap;
  text-align: left;
  }
th.sort {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  }
th.sort:hover {
  opacity: 0.5;
  }
th.sort div.arrows {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 8px;
  height: 26px;
  margin: 5px 0 0 0;
  }
.sortup {
  position: absolute;
  top: 3px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #666;
  }
.sortdown {
  position: absolute;
  top: 8px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-top: 3px solid #666;
  border-right: 3px solid transparent;
  }
td {
  padding: 4px;
  border-bottom: 1px solid #BDC4C9;
  }
.rightcol td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  }
.title{
  position: relative;
  height: 40px;
/*  margin-bottom: 42px; */
  padding-left: 10px;
  background-color: #FAFAFA;
  color: #767676;
  border-bottom: 1px solid #BDC4C9;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
  }
.titletext {
  float: left;
  height: 40px;
  overflow: hidden;
  z-index: -1;
  }
.ticketbuttons {
  position: absolute;
  right: 0px;
  height: 40px;
  padding-left: 6px;
  background-color: #FAFAFA;
  }
#overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba( 255, 255, 255, .8 );
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s ease-out;
  overflow-y: auto;
  z-index: 101;
  }
#overlay form {
  margin: 80px auto;
  box-shadow: -2px 4px 4px -2px rgba(0,0,0,0.15), 4px 4px 4px -4px rgba(0,0,0,0.15);
  z-index: 99;
  }
form {
  display: table;
  position: relative;
  margin: 0 auto;
/*  padding-bottom: 30px; */
/*  padding-bottom: 20px; */
  background-color: #F6F9FC;
  border: 1px solid #BDC4C9;
  border-radius: 3px;
  text-align: left;
  transition: opacity 0.5s;
  }
form.hidden {
  display: none;
  opacity: 0;
  }
form table,#install table {
  display: table;
  width: auto;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  border-spacing: 20px;
  border-collapse: separate;
  }
form td,#install td {
  padding: 0px;
  padding-top: 17px;
  vertical-align: top;
  border: none;
  }
form tr:last-child td {
  padding: 0px;
  }
form input[type='text'],form select,form button,form textarea {
  margin: 0px;
  }
form select[multiple] {
  background-image: none;
  }
input,select,button,textarea {
  display: block;
  width: 200px;
/*  margin: 16px 42px 16px 42px; */
  padding: 8px;
  background-color: #FFF;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: 1px solid #BDC4C9;
  border-radius: 0 0 3px 3px;
  box-shadow: none;
  transition: box-shadow 0.25s;
  }
input[type='text'],select,textarea {
  margin: 26px 42px 16px 42px;
  }
input:focus,select:focus,textarea:focus {
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  }
select {
  width: 218px;
  padding: 8px;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  background-position: 96% center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-outline: none;
  outline: none;
  cursor: pointer;
  }
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #7F7F7F;
  }
option {
  }
input[type='submit'],input[type='button'] {
  display: block;
  width: 218px;
  background-color: #667D95;
  border: none;
  border-radius: 3px;
  color: #FFF;
  text-decoration: none;
  text-shadow:0px 1px 0px #3d768a;
  cursor: pointer;
  outline: none;
  transition: background-color 0.25s;
  }
input[type='submit']:hover,input[type='button']:hover {
  background-color: #064D94;
  }
input[type='submit'].delete,input[type='button'].delete {
  display: block;
  width: 218px;
  background-color: #B30000;
  border: none;
  border-radius: 3px;
  color: #FFF;
  text-decoration: none;
  text-shadow:0px 1px 0px #8d363a;
  cursor: pointer;
  outline: none;
  }
input[type='submit'].delete:hover {
  background-color: #D50000;
  }
#newticket input[type='text'],#newticket textarea,
#resolve input[type='text'],#resolve textarea,
#reject input[type='text'],#reject textarea,
#reopen input[type='text'],#reopen textarea {
  width: 400px;
  }
#newticket select, #newticket input[type='submit'],
#resolve input[type='submit'], #reject input[type='submit'],
#reopen input[type='submit'] {
  width: 418px;
  }
#newticket input[type='submit'] {
  }
input[type='checkbox'].addusers {
  display: none;
  }
.addusers:checked + label {
  background-color: #667D95;
  color: #FFF;
  font-weight: bold;
  }
label.check {
  display: block;
  width: 200px;
  margin: 0 auto 4px auto;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  }
label.check:hover {
  background-color: #667D95;
  color: #FFF;
  font-weight: bold;
  }
/*input[type='text'] + label,select + label,textarea + label {*/
input + label,select + label,textarea + label {
  position: absolute;
  top: -17px;
  width: 218px;
  padding: 2px 6px 2px 6px;
  background-color: #FFF;
  font-size: 12px;
  font-weight: bold;
  color: #767676;
  border: 1px solid #BDC4C9;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  box-sizing: border-box;
  transition: background-color 0.25s,color 0.25s,box-shadow 0.25s;
  }
#newticket label,#resolve label,#reject label,#reopen label {
  width: 418px;
  }
input:focus + label,select:focus + label,textarea:focus + label {
  background-color: #667D95;
  border-color: #9ecaed;
  color: #FFF;
  }

/*
 * This section specifies the display values for titlebar
 * buttons. The titlebar-button class is the main class for
 * all and then the more specific classes are specified
 * afterward (close,hide,etc)
 */

.titlebar-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  margin: 12px 12px 4px 4px;
  cursor: pointer;
  vertical-align: middle;
  transition: opacity .25s;
  }
.titlebar-button:hover {
  opacity: 0.4;
  }
.titlebar-button a {
  display: block;
  width: 100%;
  height: 100%;
  }
div.close {
  background-image: url(../images/x.png);
  background-repeat: no-repeat;
  background-position: center;
  }
.hide {
  position: absolute;
  right: 32px;
  background-image: url(../images/up.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .25s,transform .25s;
  }
.hide.on {
  transform: rotate( 180deg );
  }
.search {
  right: 64px;
  width: 16px;
  height: 16px;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  vertical-align: middle;
  }
.clear {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 15px;
  right: 104px;
  background-image: url(../images/x.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity .25s;
  }
.clear.on {
  opacity: 1;
  cursor: pointer;
  }
.clear.on:hover {
  opacity: 0.4;
  }
.reply {
  background-image: url(../images/reply.png);
  background-repeat: no-repeat;
  background-position: center;
  }

/*
 * End of titlebar buttons
 */

/*
 * This is the button used to create new things (users, tickets, etc)
 */

.new {
  float: right;
  height: 28px;
  margin: 6px 0 0 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #667D95;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 28px;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  transition: background-color 0.15s ease-out;
  }
.new:hover {
  background-color: #064D94;
  }
.toggle {
  float: left;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #667D95;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.15s ease-out;
  }
.toggle:hover {
  background-color: #064D94;
  }
/*
.toggle.small {
  left: auto;
  top: auto;
  float: none;
  margin: 4px;
  font-size: 12px;
  line-height: 26px;
  }
*/
.toggle.components {
  display: inline-block;
  float: right;
  margin-right: 8px;
  font-size: 12px;
  line-height: 26px;
  vertical-align: middle;
  }
.group_user {
  display: inline-block;
  margin: 0px 4px 4px 0px;
  margin: 4px;
  padding: 5px;
  background-color: #999;
  color: #FFF;
  border-radius: 3px;
  }
.group_user .close {
  float: right;
  width: 10px;
  height: 10px;
  margin: 4px 0px 0px 4px;
  }
.group_user .close:hover {
  opacity: 0.5;
  }
.group_user .close a {
  display: block;
  width: 10px;
  height: 10px;
  }
.edit {
  width: 24px;
  height: 24px;
  float: right;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  background-image: url(../images/edit.png);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
  cursor: pointer;
  transition: opacity 0.15s ease-out;
  }
.edit:hover {
  opacity: .7;
  }
.restore {
  width: 24px;
  height: 24px;
  float: right;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  background-image: url(../images/restore.png);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
  cursor: pointer;
  transition: opacity 0.15s ease-out;
  }
.restore:hover {
  opacity: .7;
  }
.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  }
.page-left {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: 8px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #667D95;
  vertical-align: middle;
  cursor: pointer;
  transition: border-color 0.15s ease-out;
  }
.page-left:hover {
  border-right: 12px solid #064D94;
  }
.page-right {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #667D95;
  vertical-align: middle;
  cursor: pointer;
  transition: border-color 0.15s ease-out;
  }
.page-right:hover {
  border-left: 12px solid #064D94;
  }
.viewing {
  display: inline-block;
  margin-left: 8px;
  font-size: 12px;
  vertical-align: middle;
  }
.error {
  width: 218px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #F6F9FC;
  text-align: left;
  }
.error .title {
  color: red;
  }
.error p {
  margin: 20px;
  }
.error button,.error input {
  margin: 20px;
  }
.gadgeterror {
  padding: 0 10px;
  color: #F00;
  }
.limit {
  display: inline-block;
  width: 60px;
  height: 28px;
  margin: 0px;
  padding: 4px;
  background-position: 86% center;
  vertical-align: middle;
  }
/*
.column {
  display: inline-block;
  min-width: 420px;
  min-height: 300px;
  box-sizing: border-box;
  transition: box-shadow .5s;
  }
.column.active {
  box-shadow: 0 0 10px grey;
  }
*/
.selectgadget {
  display: inline-block;
  min-height: 24px;
  vertical-align: top;
  text-align: right;
  }
.selectgadget.left {
  width: 668px;
  }
.selectgadget.right {
  width: 420px;
  }
.selectgadget label {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/gear.png);
  cursor: pointer;
  }
.selectgadget label:hover {
  opacity: 0.5;
  }
.selectgadget form {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  }
.selectgadget form input {
  display: none;
  }
.selectgadget form div {
  width: auto;
  max-height: 0px;
  margin: 0px;
  margin-top: 8px;
  text-align: center;
  transition: max-height 0.25s,margin 0.25s,padding 0.25s;
  }
.selectgadget form div a {
  display: inline-block;
  width: 128px;
  height: 128px;
  margin: 10px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  text-decoration: none;
  }
.selectgadget input:checked + div {
  display: block;
  max-height: 300px;
  margin-bottom: 20px;
  padding: 20px;
  overflow: auto;
  }
#leftcol,#rightcol {
  display: inline-block;
  min-height: 300px;
  margin-bottom: 40px;
  vertical-align: top;
  }
#leftcol {
  float: left;
  min-width: 668px;
  }
#leftcol.active {
  padding: 4px;
  box-shadow: inset 0 0 4px grey;
  }
#rightcol {
  float: right;
  min-width: 420px;
  }
#rightcol.active {
  padding: 4px;
  box-shadow: inset 0 0 4px grey;
  }
#rightcol .gadget {
  width: 420px;
  }
#leftcol .title, #rightcol .title {
  cursor: move;
  }
div.gadgets {
  width: 1108px;
  margin: 0 auto;
  margin-top: -36px;
  }
div.gadget {
  width: 668px;
  max-height: 2048px;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: -2px 3px 3px -2px rgba(0,0,0,0.25), 4px 3px 3px -4px rgba(0,0,0,0.25);
  overflow: hidden;
/*  transition: max-height .25s cubic-bezier(0, 1, 0, 1) -.1s; */
  transition: max-height .5s;
  vertical-align: top;
  }
.gadget.hidden, .note.hidden {
  max-height: 40px;
  transition: max-height .25s cubic-bezier(0, 1, 0, 1) -.1s;
  }
.gadgetcontent {
  position: relative;
  padding: 10px 0px;
  }
.gadget input {
  position: absolute;
  top: 6px;
  right: 96px;
  visibility: hidden;
  max-width: 0px;
  padding: 4px;
  transition: all 0.25s ease-out;
  }
.gadget input.on {
  visibility: visible;
  max-width: 200px;
  transition: all 0.25s ease-out;
  }
.gadget .title {
  margin-bottom: 0px;
  }
.gadget .gadget {
  display: inline-block;
  width: auto;
  margin: 10px 0px 10px 10px;
  }
.gadget.ticket {
  width: 100%;
  }
.gadget.single {
  width: 768px;
  margin: 0 auto;
  }
.gadget.single table {
  width: 740px;
  }
table.leftcol {
  width: 640px;
  }
table.rightcol {
  width: 390px;
  }
div.note {
  width: 100%;
  max-height: 8192px;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: -2px 3px 3px -2px rgba(0,0,0,0.25), 4px 3px 3px -4px rgba(0,0,0,0.25);
  overflow: hidden;
  transition: max-height .25s cubic-bezier(0, 1, 0, 1) -.1s;
  vertical-align: top;
  }
.note.system{
  height: 40px;
  margin-bottom: 42px;
  padding-left: 10px;
  background-color: #666;
  color: #FFF;
  border-bottom: 1px solid #BDC4C9;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  box-sizing: border-box;
  z-index: -1;
  }
/* wtf is this?
.note:target {
  padding-top: 40px;
  }
*/
.note .title {
  margin-bottom: 10px;
  }
.note .note {
  width: calc( 100% - 20px );
  margin: 10px;
  }
.ticket table {
  width: auto;
  margin: 10px;
  }
.ticket td:first-child {
  text-align: right;
  }
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
/*  z-index: 9999 !important; */
  cursor: move;
  }
.gu-hide {
  display: none !important;
  }
/*
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  }
*/
.gu-transit {
  opacity: 0.4;
  }
p {
  margin: 20px;
  vertical-align: top;
  }
p.code {
  display: block;
  padding: 8px;
  background-color: #666;
  color: #FFF;
  font-family: "Lucida Console", Monaco, monospace;
  unicode-bidi: embed;
  white-space: pre;
  border-radius: 3px;
  }
.reply-form {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s;
  }
.reply-form.open {
  max-height: 420px;
  }
.reply-form form {
  position: static;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  box-shadow: none;
  }
.reply-form textarea {
  width: calc( 100% - 20px );
  height: 200px;
  margin: 0px;
  }
.reply-form input {
  margin: 0px;
  }
.reply-form .buttons {
  display: inline-block;
  margin: 10px 10px 0 0;
  }
.reply-form .cancel {
  background-color: #B30000;
  }
.reply-form .cancel:hover {
  background-color: #D50000;
  }
.ticketbutton {
  float: right;
  margin-top: 6px;
  margin-right: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #667D95;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.15s ease-out;
  }
.ticketbutton:hover {
  background-color: #064D94;
  }
.ticketbutton a {
  display: block;
  width: 100%;
  height: 100%;
  color: #FFF;
  text-decoration: none;
  }
.ticketbutton a:link {
  opacity: 1;
  }
.avatar {
  display: inline-block;
  float: left;
  width: 126px;
  height: 126px;
  background-position: center;
  border: 1px solid #BDC4C9;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  }
.avatar:hover {
  opacity: .5;
  }
.short {
  display: block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: help;
  }
.tooltip {
  position: absolute;
  max-width: 220px;
  margin-left: -9px;
  margin-top: -3px;
  padding: 2px 8px 2px 8px;
  white-space: normal;
  background-color: #FAFAFA;
  border: 1px solid #BDC4C9;
  border-radius: 3px;
  box-shadow: -2px 3px 3px -2px rgba(0,0,0,0.25), 4px 3px 3px -4px rgba(0,0,0,0.25);
  cursor: help;
  z-index: 99;
  opacity: 0;
  transition: opacity .25s;
  }
.short:hover .tooltip {
  display: block;
  opacity: 1;
  }
.strike {
  color: red;
  text-decoration: line-through;
  }
